body {
  background-color: rgb(186, 220, 233);
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/

.form-body {
  padding: 10px 40px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.form-body .label-title {
  color: #0c0c0c;
  font-size: 17px;
  font-weight: bold;
}

.form-body .form-input {
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  border-color: #e4c30a;
  background: white;
  outline: none;
}

#lastname.form-input {
  margin-top: 20px;
}

.horizontal-group .left {
  float: left;
  width: 49%;
}

.horizontal-group .right {
  float: right;
  width: 49%;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
.select-box{
  width: 780px;
  position: relative;
  box-sizing: border-box;
  color: #333333;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #e4c30a;
  background: white;
  outline: none;

}

.select-box select{
  height: 34px;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  line-height: 14px;
  font-size: 16px;
  width: 100%;
  border-color: #ccc;
  border-radius: -4px;


}
select-box:after{
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px transparent;
  border-right: 1px transparent;
  pointer-events: none;
}


label#male {
  display: block;
  padding-bottom:12px;
}

label#CBSC {
  display: block;
  padding-bottom: 12px;
}

label#ICSC {
  display: block;
  padding-bottom: 12px;
}

::-webkit-input-placeholder {
  color: #d9d9d9;
}

.required:after {
  content: " *";
  color: red;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(165, 75%, 42%);
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: #bcf5e7;
  cursor: pointer;
}

.btn:hover {
  background-color: #169c7b;
  color: white;
}
.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.45s, top 0.45s;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
